 body{
    background-color: #ffffff;
 }
 h1{
    color:rgb(236, 152, 135);
    font-family:'Alumni Sans Pinstripe';font-size: 70px;

   
 }
 table, th, td{
    border: 2px dashed black;
    text-align: center;
 }


 p {
    color:#e06377; font-size: 30px;
    
 }

  #p1{
   width: 300px;
   border-radius: 2px;
   margin: 60px;
  }

  #p2{
   width: 300px;
   border-radius: 2px;
   margin: 55px;
  }

  #p3{
   width: 310px;
   border-radius: 2px;
   margin: 60px;
  }

  #p4{
   width: 1300px;
  }

  #p5{
   width: 397px;
   border-radius: 2px;
   
   
  }

  #p6{
   width: 300px;
   border-radius: 2px;
   margin: 60px;
  }

  #p7{
   width: 309px;
   border-radius: 2px;
   margin: 50px;
  }

  #p8{
   width: 310px;
   border-radius: 2px;
   margin: 50px;
  }

  #p9{
   width: 310px;
   border-radius: 2px;
   margin: 50px;
  }

  #p10{
   width: 1300px;
  }

  #p11{
   width: 1300px;
  }

  #p12{
   width:1300px
  }

  #p13{
   width: 1300px;
  }

  #money{
   width:310px;
   border-radius: 2px;
   margin: 50px;
  }

  #3525{
   width: 1300px;
  }

  #bb{
   width:310px;
   border-radius: 2px;
   margin: 50px;
  }
a{
   color:#e06377; font-size: 40px;
   margin: 35px;
}

