 body{
    background-color: rgb(236,214,201);
 }
 h1{
    color:rgb(236, 152, 135);
    font-family:'Alumni Sans Pinstripe';font-size: 22px;
    
 }
 table, th, td{
    border: 2px dashed black;
    text-align: center;
 }


 p {
    color:#e06377;
    
 }

  #p1{
   width: 200px;
   border-radius: 30px;
   
   
 }
 #p2{
   width: 200px;
   border-radius:10px;
 }

#p3{
   width: 150px;
   border-radius: 10px;
}

a{
   color:#e06377;
}

