 body{
    background-color: #ffffff;
 }
 h1{
    color:rgb(236, 152, 135);
    font-family:'Alumni Sans Pinstripe';font-size: 70px;

   
 }
 table, th, td{
    border: 2px dashed black;
    text-align: center;
 }


 p {
    color:#e06377; font-size: 30px;
    
 }

  #p1{
   width: 300px;
   border-radius: 2px;
   margin: 60px;
  }

  #p2{
   width: 300px;
   border-radius: 2px;
   margin: 55px;
  }

  #p3{
   width: 310px;
   border-radius: 2px;
   margin: 60px;
  }

  #p4{
   width: 1300px;
  }

  #p5{
   width: 397px;
   border-radius: 2px;
   
   
  }

  #p6{
   width: 300px;
   border-radius: 2px;
   margin: 60px;
  }

  #p7{
   width: 309px;
   border-radius: 2px;
   margin: 50px;
  }

  #p8{
   width: 310px;
   border-radius: 2px;
   margin: 50px;
  }

  #p9{
   width: 310px;
   border-radius: 2px;
   margin: 50px;
  }

  #p10{
   width: 1300px;
  }

  #p11{
   width: 1300px;
  }

  #p12{
   width:1300px
  }

  #p13{
   width: 1300px;
  }

  #money{
   width:310px;
   border-radius: 2px;
   margin: 50px;
  }

  #3525{
   width: 1300px;
  }

  #bb{
   width:310px;
   border-radius: 2px;
   margin: 50px;
  }
a{
   color:#e06377; font-size: 40px;
   margin: 35px;
}


*{box-sizing: border-box;}

.slideshow-container {
   max-width: 2000px;
   position: relative;
   margin: auto;
}

.mySlides {
   display: none;
}

.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 9%;
   width: auto;
   margin-top: auto;
   padding: 16px;
   color: #ffffff;
   font-weight: bold;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

.prev:hover, next:hover {
   background-color: rgba(0, 0, 0, 0.8);
}


.numbertext{
   color: #eee9e9;
   font-size: 12px;
   padding: 8px 12px;
   position: absolute;
   top: 0;
}

.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }

 .fade {
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }